
.logoName {
    font-family: "Agustina Regular";
    font-weight: 700;
    -webkit-font-feature-settings: "liga","clig off";
    font-feature-settings: "liga","clig off";
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-variant-ligatures: no-common-ligatures;
    padding: 0 10px;
  }
  
  .greyColor {
    color: #868e96;
  }

:export { logoPrimary: var(--logo-primary); }